# Gradle
.gradle/
build/
run/
run-data/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# Minecraft
*.log
debug/
logs/
crash-reports/
saves/
screenshots/
options.txt
usercache.json
usernamecache.json

# 系统文件
.DS_Store
Thumbs.db